@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007AF3;
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: #02a7f0;
    padding-left: 3em;
    padding-top: 1em;
    padding-right: 3em;
    padding-bottom: 0.5em;
    //height: 80px;

    
    .container {
        display: flex;
        place-content: space-between;
    
        .logo {
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 3.5em;

            span {
                color: #fabc49;
            }
        }

        ul {
            list-style-type: none; 
            margin: 0;
            padding-top: 0.75em;
            display: flex;
        }

        .navigation_element_listy {
            padding: 0.3em;
        }

        .button_logowanie_i_rejestracja {
            width: 250px;
            height: 50px;
            border-radius: 10px;
            border: 2px solid black;
            .link_do_buttona {
                text-decoration: none;
                font-size: 2em;
                margin: 0.5em;
                font-weight: bold;
                color: black;
            }
        }
        .vertical_line {
            width: 30px;
            height: 75%;
        }
        .search_icon {
            width: 45px;
        }
}

.process_nav {
    padding-bottom: 0;
    .process_nav_element_listy {
        padding-top: 1.4em;
        padding-bottom: 0;
        .div_process_nav_wybrany {
            border: 2px solid black;
            width: 160px;
            height: 30px;
            text-decoration: none;
            font-size: 1.1em;
            margin: 0.5em;
            font-weight: bold;
            color: black;
            text-align: center;
            border-radius: 10px;
            background-color: white;
        }
        .div_process_nav {
            border: 2px solid black;
            width: 160px;
            height: 30px;
            text-decoration: none;
            font-size: 1.1em;
            margin: 0.5em;
            font-weight: bold;
            color: black;
            text-align: center;
            border-radius: 10px;
            background-color: chocolate;
        }
    }
}

.przycisk_anuluj {
    border: 2px solid black;
            width: 160px;
            height: 50px;
            margin: 0.5em;
            text-align: center;
            border-radius: 10px;
            background-color: red;
    .wnetrze_przycisku_anuluj {
        text-decoration: none;
        font-size: 1.99999em;
        font-weight: bold;
        color: white;

    }
}
}

.sekcja-repertuar {
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    .repertuar-napis {        
    }
    .repertuar-drop-down {
        padding-bottom: 10px;
    }
    .repertuar_linia {
        width: 40px;
        height: 3px;
        color: black;
        background-color: rgb(145, 145, 145);
        position: absolute;
        left: 1em;
    }
}

.sekcja-plakatow-filmow {
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    .polecane_linia {
        width: 40px;
        height: 3px;
        color: black;
        background-color: rgb(145, 145, 145);
        position: absolute;
        left: 1em;
    }
    .polecane-filmy{
        .polecane_filmy_napis {
        }
        .lista-polecanych-filmow-zewnetrzna {
            list-style-type: none; 
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            .element-1-lista-polecanych-filmow-zewnetrznej{
                .lista-polecanych-filmow-wewnetrzna-1 {
                    list-style-type: none; 
                    display: flex;

                }
            }
            .element-2-lista-polecanych-filmow-zewnetrznej {
                .lista-polecanych-filmow-wewnetrzna-2 {
                    list-style-type: none; 
                    display: flex;
                    
                }
            }
        }
    }

    .premiery{
        padding-top: 1em;
        .premiery_napis {
        }
        .lista-premiery-zewnetrzna {
            list-style-type: none; 
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            .element-1-lista-premiery-zewnetrznej{
                .lista-premiery-wewnetrzna-1 {
                    list-style-type: none; 
                    display: flex;

                }
            }
            .element-2-lista-premiery-zewnetrznej {
                .lista-premiery-wewnetrzna-2 {
                    list-style-type: none; 
                    display: flex;
                    
                }
            }
        }
    }

    
}
.film-glowna-strona {
    .film-glowna-strona-pojemnik {
        .poster {
            border: 1px #cccccc solid;
            padding: 4px;
            margin: auto;
        }
        .caption {
            color: black;
            font-style: italic;
            padding: 2px;
            text-align: center;
            position: relative;
        }
    }
}
