@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: #02a7f0;
  padding-left: 3em;
  padding-top: 1em;
  padding-right: 3em;
  padding-bottom: 0.5em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 3.5em;
}

.navbar .container .logo span {
  color: #fabc49;
}

.navbar .container ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container .navigation_element_listy {
  padding: 0.3em;
}

.navbar .container .button_logowanie_i_rejestracja {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid black;
}

.navbar .container .button_logowanie_i_rejestracja .link_do_buttona {
  text-decoration: none;
  font-size: 2em;
  margin: 0.5em;
  font-weight: bold;
  color: black;
}

.navbar .container .vertical_line {
  width: 30px;
  height: 75%;
}

.navbar .container .search_icon {
  width: 45px;
}

.navbar .process_nav {
  padding-bottom: 0;
}

.navbar .process_nav .process_nav_element_listy {
  padding-top: 1.4em;
  padding-bottom: 0;
}

.navbar .process_nav .process_nav_element_listy .div_process_nav_wybrany {
  border: 2px solid black;
  width: 160px;
  height: 30px;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0.5em;
  font-weight: bold;
  color: black;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.navbar .process_nav .process_nav_element_listy .div_process_nav {
  border: 2px solid black;
  width: 160px;
  height: 30px;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0.5em;
  font-weight: bold;
  color: black;
  text-align: center;
  border-radius: 10px;
  /*background-color: chocolate;*/
  background-color: rgba(245, 154, 35, 1);
}

.navbar .przycisk_anuluj {
  border: 2px solid black;
  width: 160px;
  height: 50px;
  margin: 0.5em;
  text-align: center;
  border-radius: 10px;
  background-color: red;
}

.navbar .przycisk_anuluj .wnetrze_przycisku_anuluj {
  text-decoration: none;
  font-size: 1.99999em;
  font-weight: bold;
  color: white;
}

.sekcja-repertuar {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 1em;
}

.sekcja-repertuar .repertuar-drop-down {
  padding-bottom: 10px;
  font-size: 15px;
  margin-bottom: 5px;
}

.sekcja-repertuar .repertuar_linia {
  width: 40px;
  height: 3px;
  color: black;
  background-color: #919191;
  position: absolute;
  left: 5%;
}

.sekcja-plakatow-filmow {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 1em;
}

.sekcja-plakatow-filmow .polecane_linia {
  width: 40px;
  height: 3px;
  color: black;
  background-color: #919191;
  position: absolute;
  left: 5%;
}

.sekcja-plakatow-filmow .polecane-filmy .lista-polecanych-filmow-zewnetrzna {
  list-style-type: none;
  display: block;
  margin-left: 10%;
  margin-right: auto;
  padding: 10px;
}

.sekcja-plakatow-filmow .polecane-filmy .lista-polecanych-filmow-zewnetrzna .element-1-lista-polecanych-filmow-zewnetrznej .lista-polecanych-filmow-wewnetrzna-1 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sekcja-plakatow-filmow .polecane-filmy .lista-polecanych-filmow-zewnetrzna .element-2-lista-polecanych-filmow-zewnetrznej .lista-polecanych-filmow-wewnetrzna-2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sekcja-plakatow-filmow .premiery {
  padding-top: 1em;
}

.sekcja-plakatow-filmow .premiery .lista-premiery-zewnetrzna {
  list-style-type: none;
  display: block;
  margin-left: 10%;
  margin-right: auto;
  padding: 10px;
}

.sekcja-plakatow-filmow .premiery .lista-premiery-zewnetrzna .element-1-lista-premiery-zewnetrznej .lista-premiery-wewnetrzna-1 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sekcja-plakatow-filmow .premiery .lista-premiery-zewnetrzna .element-2-lista-premiery-zewnetrznej .lista-premiery-wewnetrzna-2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.film-glowna-strona .film-glowna-strona-pojemnik .poster {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

.film-glowna-strona .film-glowna-strona-pojemnik .caption {
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
  position: relative;
}

.centralpanel {
    height: 78%;
    width: 1680px;
    position: fixed;
    padding-left: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

table {
  border: 1px solid black;
  width: 95%;
}
th, td {
  border: 0px solid black;
  text-align: center;
}

.dataconfirmation {
  text-align: left;
}

.centralpanel .listoftickets .text {
    padding-top: 140px;
}

.centralpanel .listoftickets .text2 {
    padding-top: 140px;
    margin-right: 22%;
}

.sidebar {
    height: 100%;
    width: 220px;
    background-color: rgba(128, 255, 255, 0.24705882352941178);
    left: 0;
    position: fixed;
    padding-top: 15px;
    padding-left: 5px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(2, 167, 240, 1);
    border-radius: 0px;
}

.bottombar {
    height: 100px;
    width: 100%;
    left: 226px;
    bottom: 0;
    position: fixed;
    display: flex;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgba(2, 167, 240, 1);
    border-radius: 0px;
}

.bottombar .back_button {
    width: 140px;
    height: 40px;
    margin-left: 80px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

.bottombar .back_button .back_button_text {
    align-self: center;
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
    font-family: "Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bottombar .next_button {
    width: 163px;
    height: 69px;
    margin-left: 850px;
    margin-top: 15px;
    background-color: rgba(3, 161, 19, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

.bottombar .next_button .next_button_text {
    align-self: center;
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
    font-family: "Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
    line-height: normal;
    text-transform: none;
}

.bottombar .final_back_button {
    width: 268px;
    height: 84px;
    margin-left: 510px;
    margin-top: 6px;
    background-color: rgba(3, 161, 19, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

.bottombar .final_back_button .final_back_button_text {
    align-self: center;
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
    font-family: "Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
    line-height: normal;
    text-transform: none;
}

.srodkowy_napis_wybor_miejsc {
  align-self: center;
  text-align: center;
  margin-left: 225px;
  margin-top: -1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(2, 167, 240, 1);
  border-radius: 0px;
}

.legenda {
  align-self: center;
  text-align: center;
}

.legenda .lista_legenda {
  list-style-type: none;
  align-self: center;
  text-align: center;
  margin-left: 225px;
  margin-top: -1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(2, 167, 240, 1);
  border-radius: 0px;
  display: flex;
  padding-left: 15px;
}

.legenda .lista_legenda .wolne_legenda {
  border: 1px solid black;
  width: 70px;
  height: 30px;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0.5em;
  color: black;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(99, 161, 3, 1);
}

.legenda .lista_legenda .niedostepne_legenda {
  border: 1px solid black;
  width: 120px;
  height: 30px;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0.5em;
  color: black;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(170, 170, 170, 1);
}

.legenda .lista_legenda .wybrane_legenda {
  border: 1px solid black;
  width: 90px;
  height: 30px;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0.5em;
  color: black;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(245, 154, 35, 1);
}

.miejsca .miejsca_ekran {
  padding-left: 27%;
  transform: rotate(180deg);
  margin-top: 1.8%;
  transform: scale(1.6);
}

.miejsca_ikony {
  margin-top: 2.3%;
  margin-left: 15%;
}
.miejsca_ikony .lista_rzedy {
  list-style-type: none;
  align-self: center;
  text-align: center;
  margin-left: 225px;
  display: flex;
  padding-left: 15px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.miejsca_ikony .lista_rzedy .numer_rzedu_miejsca {
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 2em;
  margin: 0.2em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;

}

.miejsca_ikony .lista_rzedy .ikona_wolne {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 1.7em;
  margin: 0.2em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(99, 161, 3, 1);
}

.miejsca_ikony .lista_rzedy .ikona_niewidoczna {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 1.7em;
  margin: 0.2em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(99, 161, 3, 1);
  visibility: hidden;
}

.miejsca_ikony .lista_rzedy .ikona_niedostepne {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 1.7em;
  margin: 0.2em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(170, 170, 170, 1);
}

.miejsca_ikony .lista_rzedy .ikona_wybrane {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 1.7em;
  margin: 0.2em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(245, 154, 35, 1);  
}
/*# sourceMappingURL=main.css.map */